@media(min-width: 280px) and (max-width: 426px){
    .blog-card {
        width: 300px;
        box-shadow: 0px 0px 10px 2px grey;
        border-radius: 10px;
        margin: 15px auto;
    }


    .blog-card-info {
        display: flex;
    }
}

@media(min-width: 427px){
    .blog-card {
        width: 300px;
        box-shadow: 0px 0px 10px 2px grey;
        border-radius: 10px;
    }


    .blog-card-info {
        display: flex;
    }
}