@media(min-width: 280px) and (max-width: 426px){
    .bg-image {
        background-image: url(/Users/kelvin/Desktop/blog-post-website/img/lucie-morel-tKTHCHPaRXs-unsplash.jpg);
        background-size: cover;
    }


    .bg-color {
        background-color: rgba(0, 0, 0, 0.5);
    }


    .home-intro > img {
        width: 140px;
        height: 135px;
        border-radius: 100px;
    }


    .blog-card-image {
        width: 100%;
        height: 180px;
        margin: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }


    .blog-card > .blog-card-info > .avatar {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        margin: 25px 10px 25px 10px;
    }


    .article-image {
        width: 100%;
        height: auto;
    }


    .author-info > .avatar-post {
        margin: 0 15px;
    }


    .avatar-post {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        border: 1px 0;
        border-radius: 100px;
        padding: 5px;
    }
}


@media(min-width: 427px){
    .bg-image {
        background-image: url(/Users/kelvin/Desktop/blog-post-website/img/giuseppe-famiani-aP8FliBuOz4-unsplash.jpg);
        background-size: cover;
    }


    .bg-color {
        background-color: rgba(0, 0, 0, 0.5);
    }


    .home-intro > img {
        width: 195px;
        height: 190px;
        border-radius: 100px;
    }


    .blog-card-image {
        width: 100%;
        height: 180px;
        margin: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }


    .blog-card > .blog-card-info > .avatar {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        margin: 25px 10px 25px 10px;
    }


    .blog-card > .blog-card-info > h3 {
        margin: 25px 10px 25px 10px;
        color: black;
    }


    .avatar-post {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        border: 1px 0;
        border-radius: 100px;
        padding: 5px;
    }


    .article-image {
        width: 100%;
        height: auto;
    }


    .author-info > .avatar-post {
        margin: 0 15px;
    }

}