/* Create home page layout */
html,
body,
.bg-image,
.bg-color {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid red;
}


header,
main,
footer {
    border: 1px solid black;
}


header > div {
    text-decoration: none;
    border: 1px solid black;
}


a {
    text-decoration: none;
}


/* small screens */
@media(min-width: 280px) and (max-width: 414px){
    .bg-color {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 70px auto 70px;
    }


    /* header content  */
    header {
        grid-column: 1 / -1;
        grid-row: 1 / 2; 
        display: flex;
        margin: 0;
        border: 1px solid red;
        height: 70px; 
        justify-content: space-around;
    }


    header > div {
        border: 1px solid black;
        padding: 25px 0;
    }

    
    /* main content */
    main {
        grid-column: 1 / -1;
        grid-row: 2 / 3; 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-items: center; 
    }


    .home-intro {
        border: 1px solid red;
        padding: 20px;
    }


    .home-intro > img {
        width: 145px;
        height: 140px;
        border-radius: 100px;
    }


    /* footer content */
    footer {
        grid-column: 1 / -1;
        grid-row: 3 / 4; 
    }   
}


/* medium screens and large screens */
@media(min-width: 540px){
    .bg-color {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 70px auto 70px;
    }
    
    
    /* header content */
    header {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        display: flex;
        margin: 0;
        border: 1px solid red;
        height: 70px; 
    }
    
    
    header > div {
        padding: 25px 25px;
    }


    header > div:nth-child(2){
        margin-left: auto;
    }


    /* main content */
    main {
        grid-column: 2 / -2;
        grid-row: 2 / 3; 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-items: center;
    }


    .home-intro {
        border: 1px solid red;
        padding: 20px;
    }


    .home-intro > img {
        width: 195px;
        height: 190px;
        border-radius: 100px;
    }


    .home-intro > p {
        width: 500px;
    }
    
    
    /* footer content */
    footer {
        grid-column: 1 / -1;
        grid-row: 3 / 4; 
    }     
} 