/* link main css file to other css files */
@import url("layout.css");
@import url("images.css");
@import url("blog-cards.css");


/* Typography */
p,
a {
    font-size: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
}


.home-intro > h1,
.logo {
    font-family: 'Oswald', sans-serif;
}


.bg-color,
.bg-color > footer > div > a,
.bg-color > header > div > a {
    color: white;
}


footer > div > a,
header > div > a {
    color: black; 
}


a {
    text-decoration: none;
}


/* small screens */
@media(min-width: 280px) and (max-width: 414px){
    .home-intro > h1 {
        font-size: 20px;
    }

    
    p {
        font-size: 16px;
    }


    footer > div > p {
        font-size: 16px;
    }
}


@media(min-width: 540px){
    .home-intro > h1 {
        font-size: 30px;
    }
}